war/xml/explorviz_question.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="ExplorViz" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="answers" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:string" name="correctAnswers" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:byte" name="freeAnswers"/>
        <xs:element type="xs:string" name="text"/>
        <xs:element type="xs:byte" name="timeframeEnd"/>
        <xs:element type="xs:byte" name="worktime"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="questionID"/>
    </xs:complexType>
  </xs:element>
</xs:schema>